@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rye&display=swap');
@import url('https://db.onlinewebfonts.com/c/ab21a97b9cae2e116d8d1473baefc9f0?family=RDR+Lino+Regular');
@font-face {
  font-family: 'rio-grade';
  src:url('../src/assets/fonts/SalvajeOeste.otf')
}
@font-face{
  font-family: 'icon-font';
  src: url('../src/assets/fonts/Wild\ West\ Icons.ttf');
}
@font-face{
  font-family: 'milestone';
  src: url('../src/assets/fonts/MilestoneFreeVersion-Script.otf');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(255, 255, 255);
}
.main-div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.nav-container {
  display: grid;
  place-items: center;
  position: fixed;
  top: 0;
  z-index: 100;
}

.nav-container ul {
  width: max-content;
  display: flex;
  list-style: none;
  gap: 20px;
  border: solid 1px rgb(0, 0, 0);
  border-radius: 60px;
  padding: 5px;
  margin: 0.8rem;
}

.nav-container ul li {
  font-family: "Josefin Sans", sans-serif;
  cursor: pointer;
  color: rgb(0, 0, 0);
  padding: 12px;
  border: solid 1px transparent;
  box-sizing: border-box;
  border-radius: 60px;
  transition: background-color 0.3s, border 0.3s, transform 0.3s;
}
.nav-container ul li:hover {
  background-color: #3838386b;
  border: solid 1px #6c6c6c;
}
.hero{
    background-color: whitesmoke;
    width: 100%;
    height: 100vh;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
}
.header{
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 1rem;
  color: rgb(0, 0, 0);
  text-align: center;
}
.header div{
  font-size: 5rem;
  border: solid 1px rgb(0, 0, 0);
  padding: 1rem;
  border-radius: 50%;
  height: 5rem;
  width: 5rem;
  font-family: 'icon-font';
  display: flex;
  justify-content: center;
  align-items: center;
}
.header h2{
  font-family: "RDR Lino Regular";
}
.role{
  display: flex;
  white-space: nowrap;
  color: rgb(0, 0, 0);
     font-family: "rio-grade";
}
